.about{
    width: 80%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 5px 5px 2px 3px rgba(0,0,0,.15);
    border-radius: 10px;
    margin: auto;
}
.about p{
    line-height: 1;
    margin-bottom: .5rem;
}
@media screen and (min-width: 998px) {
    .about{
        width: 600px;
        margin-top: -10vh;
    }    
}