.house{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
@media screen and (min-width: 998px) {
    .house{
        flex-direction: row;
    }
    .house > *{
        width: 33%;
    }
}