.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;
    gap: 1rem;
    min-height: 85vh;
    box-sizing: border-box;
}
